@font-face {
  font-family: "Tahoma Bold";
  font-weight: 700;
  font-style: normal;

  src: url("../fonts/tahomabd.ttf");
}

@font-face {
  font-family: "Lato Thin";
  font-weight: 200;
  font-style: normal;

  src: url("../fonts/Lato-Thin.ttf");
}

@font-face {
  font-family: "Lato Light";
  font-weight: 300;
  font-style: normal;

  src: url("../fonts/Lato-Light.ttf");
}

@font-face {
  font-family: "Lato Regular";
  font-weight: 400;
  font-style: normal;

  src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato Medium";
  font-weight: 500;
  font-style: normal;

  src: url("../fonts/Lato-Medium.ttf");
}

@font-face {
  font-family: "Lato Semibold";
  font-weight: 600;
  font-style: normal;

  src: url("../fonts/Lato-Semibold.ttf");
}

@font-face {
  font-family: "Lato Bold";
  font-weight: 700;
  font-style: normal;

  src: url("../fonts/Lato-Bold.ttf");
}

body {
  min-width: 1200px;

  background-color: #d0d3d9;

  color: #ffffff;

  font-family: "Lato Regular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
}

h1 {
  color: #f48647;

  font-family: "Lato Medium", "Arial", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 14.58px;
}

h2 {
  color: #1a2232;

  font-family: "Lato Bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: auto;
}

figcaption {
  display: none;
}

a {
  text-decoration: none;
}

.column {
  float: left;
}

.column--right {
  float: right;
}

.column--one-quarter {
  width:  4.545%;
}

.column--two-quarters {
  width:  9.09%;
}

.column--three-quarters {
  width:  13.635%;
}

.column--four-quarters {
  width:  18.18%;
}

.column--five-quarters {
  width:  22.725%;
}

.column--six-quarters {
  width:  27.27%;
}

.column--seven-quarters {
  width:  31.814999999999998%;
}

.column--eight-quarters {
  width:  36.36%;
}

.column--nine-quarters {
  width:  40.905%;
}

.column--ten-quarters {
  width:  45.45%;
}

.column--eleven-quarters {
  width:  49.995%;
}

.column--twelve-quarters {
  width:  54.54%;
}

.column--thirteen-quarters {
  width:  59.085%;
}

.column--fourteen-quarters {
  width:  63.629999999999995%;
}

.column--fifteen-quarters {
  width:  68.175%;
}

.column--sixteen-quarters {
  width:  72.72%;
}

.column--seventeen-quarters {
  width:  77.265%;
}

.column--eighteen-quarters {
  width:  81.81%;
}

.column--nineteen-quarters {
  width:  86.355%;
}

.column--twenty-quarters {
  width:  90.9%;
}

.column--twenty-one-quarters {
  width:  95.445%;
}

.column--twenty-two-quarters {
  width:  99.99%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  position: relative;

  box-sizing: border-box;
  width: 1200px;
  padding: 0 4.166%;
  margin: 0 auto;
}

.page-header {
  background-color: #171c2a;
  /*background-image: linear-gradient(to right, #171d2a, #4d5461);*/
  background-image: url("../img/bg__header--gradient.jpg");
  background-size: cover;
}

.container--header {
  padding-top: 50px;
  background: url("../img/bg__header--milyakov.png") no-repeat 82% bottom;
  background-size: 547.65px 534.6px;
}

.navigation {
  position: relative;

  margin-bottom: 175px;
  text-align: right;
}

.navigation__btn {
  display: inline-block;
  vertical-align: middle;

  width: 104px;
  height: 44px;

  margin-top: 20px;

  color: #f9f9f9;

  font-family: "Lato Regular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 44px;
}

.navigation__btn::before {
  content: "";
  display: inline-block;
  vertical-align: middle;

  width: 2px;
  height: 44px;
  margin-right: 20px;

  background-color: #f9f9f9;

  transform: rotate(15deg);
}

.navigation__btn::after {
  content: "";
  display: inline-block;
  vertical-align: middle;

  width: 2px;
  height: 44px;
  margin-left: 20px;

  background-color: #f9f9f9;

  transform: rotate(15deg);
}

.navigation__list {
  position: absolute;
  top: 20px;
  right: 0;

  display: none;

  list-style: none;

  font-size: 0;
}

.navigation__btn:hover {
  opacity: 0;
}

.navigation__btn:hover + .navigation__list,
.navigation__list:hover {
  display: block;
}

.navigation__item {
  position: relative;

  display: inline-block;
  vertical-align: top;
}

.navigation__link {
  position: relative;

  display: block;
  padding: 12px 20px;

  background-color: #f48647;

  color: #f9f9f9;

  font-family: "Lato Regular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.navigation__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -15px;

  width: 0;
  height: 0;

  border-bottom: 49px solid #f48647;
  border-left: 15px solid transparent;
}

.navigation__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -14px;

  width: 0;
  height: 0;

  border-top: 49px solid #f48647;
  border-right: 15px solid transparent;
}

.navigation__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 2px;
  height: 49px;

  background-color: #202634;

  transform: rotate(20deg);
}

.page-title {
  padding-left: 150px;
  margin-bottom: 160px;
}

.page-title__role {
  margin-bottom: 35px;

  color: #f9f9f9;

  font-family: "Lato Light", "Arial", sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 14.58px;
}

.phone-block {
  position: relative;

  margin: 0 auto;
  margin-bottom: 30px;

  box-sizing: border-box;
  width: 522px;
  height: 44px;

  background: url("../img/bg__phone-block--rectangle.svg") no-repeat center;
  background-size: 522px 44px;

  text-align: center;
}

label[for="spoiler"] {
  display: block;

  width: 50px;
  height: 15px;

  margin: 0 auto;
  margin-bottom: 50px;

  background-image: url("../img/icon__header--arrow.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  cursor: pointer;
}

.spoiler {
  display: none;

  padding-bottom: 82px;
}

#spoiler:checked ~ .spoiler {
  display: block;
}

.spoiler__text {
  width: 600px;

  margin-bottom: 35px;

  color: #f9f9f9;

  font-family: "Lato Regular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
}

.spoiler__text--title {
  margin-bottom: 22px;

  color: #f48647;

  font-family: "Lato Bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
}

.spoiler__text--feature {
  color: #f48647;
}

.spoiler__text--conclusion {
  margin-top: 63px;

  font-family: "Lato Bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
}

.phone-block__phone {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);

  color: #f9f9f9;

  font-family: "Lato Regular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 11.26px;
}

.phone-block__btn {
  position: absolute;
  top: 50%;
  right: 60px;
  transform: translateY(-50%);

  color: #1a2232;

  font-family: "Lato Regular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 11.26px;
}

.content {
  position: relative;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 50px;
}

.content__title {
  position: relative;

  width: 330px;

  margin: 0 auto;
  margin-bottom: 80px;

  text-align: center;

  line-height: 44px;
}

.content__title--my-experience {
  margin-bottom: 48px;
}

.content__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 3px;
  height: 44px;
  margin-right: 20px;

  background-color: #1a2232;

  transform: rotate(15deg);
}

.content__title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 3px;
  height: 44px;
  margin-left: 20px;

  background-color: #1a2232;

  transform: rotate(15deg);
}

.content__column {
  box-sizing: border-box;
  width: 50%;
  padding: 30px;
  padding-top: 0;
  padding-bottom: 0;

  color: #1a2232;

  font-family: "Lato Semibold", "Arial", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 75px;
}

.content__column--right {
  padding-left: 45px;
}

.content__number {
  color: #f48647;

  font-size: 40px;
}

.content__picture {
  display: inline-block;
  vertical-align: top;

  margin-right: 70px;
}

.content__picture:last-child {
  margin-right: 0;
}

.content--my-experience::before {
  content: "";
  position: absolute;
  top: 110px;
  left: 50%;

  width: 2px;
  height: 175px;

  background-color: #000000;
}

.content--how-i-work {
  min-height: 695px;

  background-color: #f9f9f9;
}

.content--about-me {
  min-height: 700px;
  background-color: #f4c547;
}

.container--about-me::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  z-index: 1;

  width: 0;
  height: 0;

  border-top: 365px solid #1a2232;
  border-right: 150px solid transparent;
}

.content--portfolio {
  background-color: #f48647;
}

.container--portfolio {
  padding-right: 0;
}

.container--portfolio::before {
  content: "";
  position: absolute;
  bottom: -50px;
  right: 0;

  width: 0;
  height: 0;

  border-bottom: 945px solid #1a2232;
  border-left: 385px solid transparent;
}

.content--clients {
  background-color: #f9f9f9;
}

.gallery {
  position: relative;
  z-index: 1;
  overflow-x: auto;
  white-space: nowrap;
  font-size: 0;
}

.gallery__item {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-right: 9px;

  font-size: 22px;
}

.gallery__item--clients {
  vertical-align: bottom;

  margin-right: 9.091%;
}

.gallery__item:last-child {
  margin-right: 0;
}

.gallery__picture {
  margin: 0;
}

.page-footer {
  overflow: hidden;
  background-color: #1a2232;
}

.container--footer {
  padding-top: 35px;
  padding-bottom: 35px;
}

.contacts__title {
  margin-bottom: 30px;

  color: #f9f9f9;

  font-family: "Lato Regular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.contacts__phone {
  margin-bottom: 9px;

  color: #f9f9f9;

  font-family: "Lato Light", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}

.contacts__email {
  color: #f9f9f9;

  font-family: "Lato Light", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}

.contacts__link {
  color: #f9f9f9;

  font-family: "Lato Regular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.contacts__phone .contacts__link {
  margin-left: 39px;
}

.contacts__email .contacts__link {
  margin-left: 61px;
}

.partners {
  position: relative;
}

.partners::before {
  content: "";
  position: absolute;
  top: -42px;
  left: 35px;

  width: 3px;
  height: 207px;

  background-color: #b7b9be;

  transform: rotate(20deg);
}

.partners::after {
  content: "";
  position: absolute;
  top: -42px;
  right: 35px;

  width: 3px;
  height: 207px;

  background-color: #b7b9be;

  transform: rotate(20deg);
}

.partners__logo {
  width: 150px;
  margin: 0 auto;

  text-align: center;
}

.partners__text {
  margin-top: 2px;

  color: #f9f9f9;

  font-family: "Lato Light", "Arial", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}

.copyright__text {
  position: absolute;
  right: 0;
  bottom: 20px;

  text-transform: lowercase;

  font-family: "Lato Regular", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}

.copyright__company {
  margin-left: 13px;

  text-transform: uppercase;
  letter-spacing: 3px;

  color: #25ec75;

  font-family: "Tahoma Bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
