@font-face {
  font-family: "Tahoma Bold";
  font-weight: 700;
  font-style: normal;

  src: url("../fonts/tahomabd.ttf");
}

@font-face {
  font-family: "Lato Thin";
  font-weight: 200;
  font-style: normal;

  src: url("../fonts/Lato-Thin.ttf");
}

@font-face {
  font-family: "Lato Light";
  font-weight: 300;
  font-style: normal;

  src: url("../fonts/Lato-Light.ttf");
}

@font-face {
  font-family: "Lato Regular";
  font-weight: 400;
  font-style: normal;

  src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato Medium";
  font-weight: 500;
  font-style: normal;

  src: url("../fonts/Lato-Medium.ttf");
}

@font-face {
  font-family: "Lato Semibold";
  font-weight: 600;
  font-style: normal;

  src: url("../fonts/Lato-Semibold.ttf");
}

@font-face {
  font-family: "Lato Bold";
  font-weight: 700;
  font-style: normal;

  src: url("../fonts/Lato-Bold.ttf");
}

body {
  position: relative;

  min-width: 900px;

  color: #ffffff;
  background-color: #171c2a;
  background-image: url("../img/bg__header--gradient.jpg");
  background-positon: top center;
  background-size: 100% 100%;

  font-family: "Lato Regular", "Arial", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
}

h1 {
  margin: 0;

  color: #f48647;

  font-family: "Lato Medium", "Arial", sans-serif;
  font-size: 44px;
  font-weight: 500;
  line-height: 14.58px;
}

h2 {
  color: #1a2232;

  font-family: "Lato Bold", "Arial", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: auto;
}

figcaption {
  display: none;
}

a {
  text-decoration: none;
}

.column {
  float: left;
}

.column--right {
  float: right;
}

.column--one-quarter {
  width: 4.545%;
}

.column--two-quarters {
  width: 9.09%;
}

.column--three-quarters {
  width: 13.635%;
}

.column--four-quarters {
  width: 18.18%;
}

.column--five-quarters {
  width: 22.725%;
}

.column--six-quarters {
  width: 27.27%;
}

.column--seven-quarters {
  width: 31.815%;
}

.column--eight-quarters {
  width: 36.36%;
}

.column--nine-quarters {
  width: 40.905%;
}

.column--ten-quarters {
  width: 45.45%;
}

.column--eleven-quarters {
  width: 49.995%;
}

.column--twelve-quarters {
  width: 54.54%;
}

.column--thirteen-quarters {
  width: 59.085%;
}

.column--fourteen-quarters {
  width: 63.629999999999995%;
}

.column--fifteen-quarters {
  width: 68.175%;
}

.column--sixteen-quarters {
  width: 72.72%;
}

.column--seventeen-quarters {
  width: 77.265%;
}

.column--eighteen-quarters {
  width: 81.81%;
}

.column--nineteen-quarters {
  width: 86.355%;
}

.column--twenty-quarters {
  width: 90.9%;
}

.column--twenty-one-quarters {
  width: 95.445%;
}

.column--twenty-two-quarters {
  width: 99.99%;
}

.clearfix::after {
  display: table;
  clear: both;

  content: "";
}

.container {
  position: relative;

  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
}

.container__inner-wrapper {
  padding: 0 4.166%;
}

.page-header {
  /*background-color: #171c2a;*/
  /*background-image: linear-gradient(to right, #171d2a, #4d5461);*/
  background-image: url("../img/bg__header--gradient.svg");
  background-size: cover;
  background-attachment: fixed;
}

.container--header {
  height: 700px;

  overflow: auto;

  background: url("../img/bg__header--milyakov.png") no-repeat 86% bottom;
  background-size: 602px 588px;
}

.container--js {
  overflow: hidden;
}

.container__inner-wrapper--header {
  position: absolute;
  top: 0;

  padding-top: 50px;
}

.navigation {
  position: relative;

  margin-bottom: 185px;

  text-align: right;
}

.navigation__btn {
  display: block;
  float: right;

  width: 104px;
  height: 38px;
  margin-top: 18px;
  margin-right: 5px;

  color: #f9f9f9;

  font-family: "Lato Regular", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 38px;
}

.navigation__btn::before {
  display: inline-block;

  width: 2px;
  height: 38px;
  margin-right: 20px;

  content: "";
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  vertical-align: middle;

  background-color: #f9f9f9;
}

.navigation__btn::after {
  position: relative;
  z-index: 3;

  display: inline-block;

  width: 2px;
  height: 38px;
  margin-left: 20px;

  content: "";
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  vertical-align: middle;

  background-color: #f9f9f9;
}

.navigation__list {
  position: absolute;
  top: 20px;
  right: 3px;

  display: none;

  list-style: none;

  font-size: 0;
}

.navigation__btn:hover + .navigation__list,
.navigation__list:hover {
  display: block;
}

.navigation__item {
  position: relative;

  display: inline-block;

  margin-right: 3px;
  padding-bottom: 20px;

  vertical-align: top;
}

.navigation__link {
  position: relative;
  z-index: 1;

  display: block;

  box-sizing: border-box;
  min-width: 175px;
  min-height: 38px;
  padding: 7px 29px;

  text-align: center;

  color: #f9f9f9;

  font-family: "Lato Regular", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.navigation__link::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  display: block;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  content: "";
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);

  background-color: #f48647;
}

.navigation__item:first-child::before {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;

  width: 2px;
  height: 38px;

  content: "";
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);

  background-color: #f9f9f9;
}

.navigation__item:hover > .navigation__link::before,
.navigation__link--modal-window::before {
  background-color: #f4c547;
}

.navigation__item:hover > .navigation__link,
.navigation__link--modal-window {
  color: #1a2232;
}

.navigation__modal-window {
  position: absolute;
  top: 58px;
  right: 0;

  display: none;
}

.navigation__item:hover > .navigation__modal-window,
.navigation__modal-window:hover {
  display: block;
}

.navigation__list--modal-window {
  position: static;

  display: block;

  min-width: 600px;
  margin-right: 19px;
}

.navigation__link--modal-window {
  min-width: 130px;
}

.navigation__item--modal-window:last-child::after {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;

  width: 2px;
  height: 38px;

  content: "";
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);

  background-color: #f9f9f9;
}

.page-title {
  margin-bottom: 180px;
  padding-left: 147px;
}

.page-title__role {
  margin-bottom: 40px;

  color: #f9f9f9;

  font-family: "Lato Light", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 14.58px;
}

.phone-block {
  position: relative;
  z-index: 1;

  box-sizing: border-box;
  min-width: 522px;
  max-width: 800px;
  height: 44px;
  margin: 0 auto;
  margin-bottom: 50px;

  text-align: center;

  font-size: 0;
}

.phone-block__phone {
  position: relative;

  display: inline-block;

  box-sizing: border-box;
  width: 250px;
  height: 44px;
  margin-right: 3px;
  padding: 0 25px;

  vertical-align: top;

  color: #f9f9f9;

  font-family: "Lato Regular", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 41px;
}

.phone-block__phone::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  display: block;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  content: "";
  -webkit-transform: skew(-24deg);
          transform: skew(-24deg);

  border: 2px solid #f4c547;
}

.phone-block__btn {
  position: relative;

  display: inline-block;
  vertical-align: top;

  box-sizing: border-box;
  width: 249px;
  height: 44px;
  padding: 0 25px;

  color: #1a2232;

  font-family: "Lato Regular", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 41px;
}

.phone-block__btn::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  display: block;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  content: "";
  -webkit-transform: skew(-24deg);
          transform: skew(-24deg);

  background-color: #f4c547;
}

.phone-block__btn--ready::before {
  background-color: #86cf4f;
}

.phone-block__btn--invalid::after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  display: block;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  content: "";
  -webkit-transform: skew(-24deg);
          transform: skew(-24deg);

  background-color: rgba(244, 49, 17, 0.2);
}

.phone-block__form {
  display: none;

  font-size: 0;
}

.phone-block__form--show {
  display: block;
}

.phone-block__btn--form {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.phone-block__btn--hidden {
  display: none;
}

.phone-block__phone--hidden {
  display: none;
}

.phone-block__label {
  position: relative;

  display: inline-block;
  vertical-align: top;
  height: 44px;
  margin-right: 2px;
}

.phone-block__label::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  display: block;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  content: "";
  -webkit-transform: skew(-24deg);
          transform: skew(-24deg);

  border: 2px solid #f4c547;
}

.phone-block__label--invalid::before {
  background-color: rgba(244, 49, 17, 0.2);
}

.phone-block__input {
  padding: 7px 0;

  background-color: transparent;
  border: none;

  text-align: center;

  color: #f9f9f9;
  font-family: "Lato Regular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.phone-block__input:focus {
  outline: none;
}

.phone-block__btn--form {
  outline: none;
}

::-webkit-input-placeholder {
  font-family: "Lato Thin", "Arial", sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 24px;
}

::-moz-placeholder {
  font-family: "Lato Thin", "Arial", sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 24px;
}

:-moz-placeholder {
  font-family: "Lato Thin", "Arial", sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 24px;
}

:-ms-input-placeholder {
  font-family: "Lato Thin", "Arial", sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 24px;
}

main {
  position: relative;
}

.arrow {
  position: relative;
  z-index: 1;

  display: block;
  width: 50px;
  height: 15px;
  margin: 0 auto;
  margin-bottom: 50px;

  cursor: pointer;

  background-image: url("../img/icon__header--arrow.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.second-screen {

}

.second-screen__text {
  width: 54.54%;
  margin-bottom: 30px;

  color: #f9f9f9;

  font-family: "Lato Regular", "Arial", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
}

.second-screen__text--title {
  margin-bottom: 11px;

  color: #f48647;

  font-family: "Lato Bold", "Arial", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 44px;
}

.second-screen__text--feature {
  color: #f48647;
}

.second-screen__text--conclusion {
  margin-top: 62px;
  margin-bottom: 0;

  font-family: "Lato Bold", "Arial", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
}

.content {
  position: relative;

  box-sizing: border-box;
  padding-top: 32px;
  padding-bottom: 76px;
}

.content--my-experience {
  padding-top: 27px;

  background-color: #d0d3d9;
}

.content__title {
  position: relative;

  width: 302px;
  margin: 0 auto;
  margin-bottom: 80px;

  text-align: center;

  line-height: 44px;
}

.content__title--my-experience {
  margin-bottom: 50px;
}

.content__title::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 3px;
  height: 44px;
  margin-right: 20px;

  content: "";
  -webkit-transform: rotate(21deg);
          transform: rotate(21deg);

  background-color: #1a2232;
}

.content__title::after {
  position: absolute;
  top: 0;
  right: 0;

  width: 3px;
  height: 44px;
  margin-left: 20px;

  content: "";
  -webkit-transform: rotate(21deg);
          transform: rotate(21deg);

  background-color: #1a2232;
}

.content__column {
  box-sizing: border-box;
  width: 50%;
  padding-top: 0;
  padding-right: 3%;
  padding-bottom: 0;
  padding-left: 50px;
}

.content__column--channels {
  padding-top: 7px;
  padding-left: 102px;
}

.content__text {
  color: #1a2232;

  font-family: "Lato Semibold", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 68px;
}

.content__text--channels {
  margin-bottom: 15px;

  line-height: 32px;
}

.content__number {
  color: #f48647;

  font-size: 40px;
}

.content__picture {
  display: inline-block;

  margin-right: 65px;

  vertical-align: top;
}

.content__picture:last-child {
  margin-right: 0;
}

.content--my-experience::before {
  position: absolute;
  top: 110px;
  left: 52.3%;

  width: 2px;
  height: 49%;

  content: "";

  background-color: #000000;
}

.content--how-i-work {
  min-height: 700px;

  background-color: #f9f9f9;
}

.content--about-me {
  min-height: 700px;

  background-color: #f4c547;
}

.container--about-me::before {
  position: absolute;
  z-index: 1;
  top: -32px;
  left: 0;

  width: 0;
  height: 0;

  content: "";

  border-top: 365px solid #1a2232;
  border-right: 146px solid transparent;
}

.content--portfolio {
  padding-bottom: 39px;

  background-color: #f48647;
}

.container__inner-wrapper--portfolio {
  padding-right: 0;
  padding-left: 0;
}

.container__inner-wrapper--portfolio::before {
  position: absolute;
  right: 0;
  bottom: -50px;

  width: 0;
  height: 0;

  content: "";

  border-bottom: 960px solid #1a2232;
  border-left: 390px solid transparent;
}

.content--clients {
  padding-bottom: 39px;

  background-color: #f9f9f9;
}

.content__title--clients {
  margin-bottom: 56px;
}

.gallery {
  position: relative;
  z-index: 1;

  overflow: auto;

  margin-left: 4.166%;

  white-space: nowrap;

  font-size: 0;
}

.gallery--portfolio {
  min-height: 505px;
}

.gallery--clients {
  min-height: 211px;
  margin-left: 0;
}

.gallery__container {
  position: absolute;
  left: 0;
}

.gallery__item {
  display: inline-block;

  margin: 0;
  margin-right: 10px;
  margin-bottom: 10px;

  vertical-align: top;

  font-size: 22px;
}

.gallery__item--clients {
  margin-right: 100px;

  vertical-align: bottom;
}

.gallery__item:last-child {
  margin-right: 0;
}

.gallery__link {
  cursor: pointer;
}

.gallery__picture {
  font-size: 0;
  line-height: 0;
}

.gallery__item--popup {
  position: absolute;
  z-index: 5;
  top: 107px;
  bottom: 29px;
  left: 0;

  width: 100%;

  background-color: #1e2535;
}

.gallery__link--popup {
  position: relative;

  display: block;

  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;

  cursor: auto;

  font-size: 0;
}

.gallery__picture--popup {
  position: relative;

  display: inline-block;

  width: 54.158%;
  height: 523px;
  margin: 0 4.166%;

  text-align: center;
  vertical-align: top;
}

.gallery__picture--popup img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 430px;
}

.gallery__description--popup {
  display: inline-block;

  width: 33.328%;

  vertical-align: top;

  color: #fafafa;
}

.gallery__title {
  margin-bottom: 21px;

  font-family: "Lato Semibold", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.gallery__text {
  font-family: "Lato Regular", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.gallery__time {
  display: block;

  font-family: "Lato Thin", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 24px;
}

.gallery__btn {
  position: absolute;
  bottom: 42px;

  display: none;

  width: 170px;

  cursor: pointer;
  text-align: center;

  color: #d0d3d9;

  font-family: "Lato Light", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.gallery__btn--show {
  display: block;
}

.gallery__btn--previous {
  left: -4px;
}

.gallery__btn--previous::before {
  float: left;

  width: 27px;
  height: 20px;

  content: "";

  background: url("../img/icon__gallery--popup-arrow-left.png") no-repeat center;
  background-size: 100% 100%;
}

.gallery__btn--previous::after {
  float: right;

  width: 2px;
  height: 22px;

  content: "";
  -webkit-transform: rotate(22deg);
          transform: rotate(22deg);

  background-color: #c8cbd1;
}

.gallery__btn--next {
  right: -4px;
}

.gallery__btn--next::before {
  float: left;

  width: 2px;
  height: 22px;

  content: "";
  -webkit-transform: rotate(22deg);
          transform: rotate(22deg);

  background-color: #c8cbd1;
}

.gallery__btn--next::after {
  float: right;

  width: 27px;
  height: 20px;

  content: "";
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);

  background: url("../img/icon__gallery--popup-arrow-left.png") no-repeat center;
  background-size: 100% 100%;
}

.cross {
  position: absolute;
  right: 4.166%;
  bottom: 37px;

  display: none;

  cursor: pointer;

  color: #f48647;

  font-family: "Georgia", "Times New Roman", serif;
  font-size: 36px;
  line-height: 42px;
}

.cross--show {
  display: block;
}

.cross--portfolio {
  vertical-align: middle;
}

.scroll {
  position: absolute;
  z-index: 1;
  right: 4.166%;
  bottom: 0;
  left: 4.166%;

  display: none;

  height: 20px;
  margin-top: 20px;

  background-color: rgba(255, 255, 255, 0.3);
}

.scroll--clients {
  background-color: rgba(26, 34, 50, 0.3);
}

.scroll__arrow {
  position: absolute;

  width: 26px;
  height: 20px;

  cursor: pointer;

  background: transparent url("../img/icon__scroll--arrow-right.png") no-repeat center;
  background-size: 100% 100%;
}

.scroll__arrow--clients {
  background: transparent url("../img/icon__clients--arrow-right.png") no-repeat center;
}

.scroll__arrow--left {
  top: 0;
  left: -4px;

  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.scroll__arrow--right {
  top: 0;
  right: -4px;
}

.scroll__track {
  position: absolute;
  z-index: 1;
  left: 21px;

  height: 20px;

  cursor: pointer;
  -webkit-transform: skew(-22deg);
          transform: skew(-22deg);

  background-color: #f9f9f9;
}

.scroll__track--clients {
  background-color: #1a2232;
}

.page-footer {
  overflow: hidden;

  background-color: #1a2232;
}

.container--footer {
  padding-top: 35px;
  padding-bottom: 17px;
}

.contacts {
  padding-top: 25px;
}

.contacts__title {
  margin-bottom: 20px;

  color: #f9f9f9;

  font-family: "Lato Regular", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.contacts__phone {
  margin-bottom: 6px;

  color: #f9f9f9;

  font-family: "Lato Light", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}

.contacts__email {
  color: #f9f9f9;

  font-family: "Lato Light", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}

.contacts__link {
  color: #f9f9f9;

  font-family: "Lato Regular", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.contacts__phone .contacts__link {
  margin-left: 35px;
}

.contacts__email .contacts__link {
  margin-left: 61px;

  font-size: 16px;
}

.partners {
  position: relative;
}

.partners::before {
  position: absolute;
  top: -44px;
  left: 73px;

  width: 3px;
  height: 209px;

  content: "";
  -webkit-transform: rotate(22deg);
          transform: rotate(22deg);

  background-color: #b7b9be;
}

.partners::after {
  position: absolute;
  top: -44px;
  right: 59px;

  width: 3px;
  height: 209px;

  content: "";
  -webkit-transform: rotate(22deg);
          transform: rotate(22deg);

  background-color: #b7b9be;
}

.partners__logo {
  width: 150px;
  margin: 0 auto;

  text-align: center;
}

.partners__text {
  margin-top: 2px;

  color: #f9f9f9;

  font-family: "Lato Light", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}

.copyright__text {
  margin-top: 121px;

  text-align: right;
  text-transform: lowercase;

  font-family: "Lato Regular", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}

.copyright__company {
  margin-left: 13px;

  letter-spacing: 3px;
  text-transform: uppercase;

  color: #25ec75;

  font-family: "Tahoma Bold", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}

.js__wrapper--fixed-hat {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;

  background-color: #1a2232;
}

.first-screen--fixed-hat {
  position: relative;

  min-width: 900px;
  max-width: 1200px;

  padding: 15px 0;
  margin: 0 auto;

  font-size: 0;
}

.first-screen--fixed-hat > * {
  display: none;
}

.logo--fixed-hat {
  display: block;

  width: 95px;
  height: 50px;

  margin-left: 4.166%;
}

.logo--fixed-hat img {
  width: 100%;
  height: 100%;
}

.navigation--fixed-hat {
  position: absolute;
  right: 4.166%;

  display: block;

  margin-bottom: 0;
  margin-top: 4px;
}

.navigation__btn--fixed-hat {
  margin: 0;
}

.navigation__list--fixed-hat {
  top: 2px;
  right: -2px;
  z-index: 2;
}

.phone-block--fixed-hat {
  display: block;

  margin: 0 auto;
  margin-bottom: 0;
  margin-top: 3px;
}

.phone-block--hidden {
  display: none;
}
